body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #00834a;
    background-image: url("asset/overlay.png"), url("asset/circles.svg");
    background-repeat: repeat, no-repeat;
    background-size: 200px, cover;
}

#app {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

